

<%= render 'authors/author' %>
<h1><%= @post.title %></h1>
<p><%= @post.description %></p>

<!-- <%= @post.author.name %>
<%= @post.author.hometown %> -->

<!-- <%= @author.name %>
<%= @author.hometown %> -->



<!-- must find parent directory -->
